nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: var(--secondary-color);
}

nav .Logotipo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
}

nav .menu_horizontal {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu_horizontal li {
    list-style: none;
    position: relative;
}

nav .menu_horizontal a {
    display: flex;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: var(--white)!important;
    text-decoration: none;
    transition: all 300ms ease;
}

nav .menu_horizontal a:hover {
    transform: scale(1.1);
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#Mostrar {
    position: absolute;
    top: -100%;
}

nav .Barra_íconos {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.menu_vertical {
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

.menu_horizontal li:hover .menu_vertical {
    display: block;
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.menu_vertical li:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.menu_vertical li a {
    display: block;
    color: var(--white);
    padding: 15px 15px 15px 20px;
    transition: all 300ms ease;
}

nav .menu_horizontal li .menu_vertical:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--secondary-color);
    position: absolute;
    top: -12px;
    left: 20px;
}