/* h1 {
    color: #5a5a5a;
    font-size: 60px;
    
    
} */



.prinButton {
    color: #ffffff;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.secButton {
    color: #ffffff;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    cursor: pointer;
    height: 50px;
    width: 150px;
}

.secButton a{
    color: var(--white);
    text-decoration: none;
}

button:active {
    background-color: #740000;
}

.navbarInicio {
    display: grid;    
    overflow: hidden;
    background-color:var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    
}

.navbarInicio a {
    text-decoration: none;
    float: right;
    display: grid;
    color: #ffff;
    text-align: center;
    padding: 25px 40px;
    font-size: 20px;
}

.navbarInicio a:hover {
    color: #8b8b8b;
}

.titulo {
    font-size: 50px;
    margin-bottom: 90px;
    
}

.seccionGral {
    padding: 16px;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1.5fr repeat(2, 2fr);
    grid-auto-flow: dense;
    gap: 16px;
    height: 95vh;
}

.seccionGral section {
    background-color: #d9d9d9;
    border-radius: 6px;
    padding: 16px;
}

.seccionGral section:first-child {
    grid-row-start: span 2;
}

.seccionGral section:last-child {
    grid-column-start: span 2;
}

.secciones h2 {
    font-size: 25px
}