<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/hands.jpg') }}">
    <link rel="stylesheet preload" href="{{ url_for('static', filename='css/base.css' ) }}">
    <!-- <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome6/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome6/css/brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome6/css/solid.css') }}">
   
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.1.4/css/dx.common.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.1.4/css/dx.light.css" /> -->
    <!-- <script src="https://cdn3.devexpress.com/jslib/22.1.4/js/dx.all.js"></script> -->
</head>

<body>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %} {% block javascript %}
    <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
    {% endblock %}
</body>

</html>